<nav>
    <div class="nav-wrapper  deep-purple accent-2">
        <a href="#" class="brand-logo">Smart House</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active"><a routerLink="/house">House</a></li>
            <li routerLinkActive="active"><a routerLink="/floor">Floor</a></li>
            <li routerLinkActive="active"><a routerLink="/room">ROOM</a></li>
            <li routerLinkActive="active"><a routerLink="/device">Device</a></li>
        </ul>
    </div>
</nav>